@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&family=Tangerine:wght@700&display=swap');

:root {
    --cor0: #9CE4FD;
    --cor1: #F08486;
    --cor2: #D9EEF6;
    --cor3: #9CE4FD;
    --cor4: #82c1d6;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("../assets/fundo.png");
}

header {
    background-color: var(--cor0);
    text-align: center;
    padding-top: 35px;
    padding-bottom: 15px;
    border-radius: 5px;
    margin: 0px;
}

header > h1 {
    display: inline;
    font-family: 'Tangerine', cursive;
    font-size: 5em;
    margin: 0px;
    padding: 0px;
    color: var(--cor1);
    width: 100%;
}

header > #gestante{
    margin-bottom: -25px;
    margin-right: -25px;
    height: 130px;
}

header > #cegonha{
    margin-top: -25px;
    margin-left: -20px;
    height: 100px;
}

#menulateral {
    display: inline-block;
    height: 100%;
    width: 20%;
    padding: 5px;
    top: 0px;
    left: 0px;
    background-color: var(--cor2);
}

#menulateral > a {
    padding: 8px;
    display: block;
    background-color: var(--cor3);
    text-decoration: none;
    margin-top: 15%;
    color: black;
    overflow: hidden;
}

#menulateral > a:hover {
    background-color: var(--cor4);
}

main {
    height: 100%;
    width: 100%;
    position: absolute;
    display: inline;
}

section {
    width: 80%;
    position: absolute; 
    display: inline;
}

section > #gestante {
    height: 250px;
    position: absolute;
    top: 280px;
    left: 20px;
}

section > #cegonha {
    height: 150px;
    position: absolute;
    left: 300px;
}

section > #hospital {
    position: relative;
    margin-left: 610px;
    margin-top: 30px;
}

nav#caminho {
    height: 200px;
    margin-left: 200px;
}

#caminho1 {
    height: 120px;
    padding-left: -50px;
    margin-top: 70px;
}

#caminho2 {
    height: 120px;
    margin-bottom: 80px;
    margin-left: -80px;
}

#caminho3 {
    height: 120px;
    margin-bottom: 80px;
    margin-left: -50px;
}

#caminho4 {
    height: 120px;
    margin-left: -80px;
}

#caminho5 {
    height: 120px;
    margin-left: -50px;
}

#caminho6 {
    height: 120px;
    margin-bottom: 80px;
    margin-left: -80px;
}

#bb1 {
    height: 100px;
    position: absolute;
    right: 0;
}

#bb2 {
    height: 100px;
    position: absolute;
    right: 100px;
}

article.conteudo {
    width: 70%;
    background-color: white;
    padding: 30px;
    border-radius: 25px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}

article.conteudo > h1 {
    text-align: center;
}

article.conteudo > p {
    margin-top: 20px;
    text-align: justify;
    text-indent: 2em;
}



